footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1500px;
  margin: 20px ;
  padding: 20px;
}

.footer-logo {
  flex: 1;
  min-width: 200px;
  text-align: center;
  margin: 0 50px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-shop, .footer-info, .footer-connect, .footer-company {
  flex: 1;
  min-width: 200px;
  margin: 0 25px;
}

.footer-shop h3, .footer-info h3, .footer-connect h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.footer-info ul, .social-media {
  list-style: none;
  padding: 0;
}

.footer-info ul li, .social-media li {
  margin: 5px 0;
}

.footer-info ul li a, .social-media li a {
  color: #fff;
  text-decoration: none;
}

.social-media li img {
  width: 24px;
  height: 24px;
}

.footer-connect form {
  display: flex;
  flex-direction: column;
}

.footer-connect input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.footer-connect button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding: 10px;
  margin-top: 20px;
}

.footer-bottom img {
  width: 200px;
  /* margin: 10px 0; */
}


.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px; /* space between icons */
}

.social-media li {
  display: inline-block;
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.fb-icon {
  background-color: #3b5998;
}

.fb-icon:hover {
  background-color: #2d4373;
}

.ins-icon {
  background-color: #e4405f;
}

.ins-icon:hover {
  background-color: #bc2a8d;
}

.tiktok-icon {
  background-color: #000;
  padding: 8px;
  border-radius: 50%;
}

.tiktok-icon:hover {
  background-color: #444;
}

.tiktok-icon img {
  width: 24px;
  height: 24px;
}

.yt-icon {
  background-color: #ff0000;
}

.yt-icon:hover {
  background-color: #cc0000;
}

.fa {
  font-size: 20px;
}

/* Optional: Add box-shadow for a more stylish look */
.social-media a {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
